* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    background-image: url('./assets/about/noise.svg')url('./assets/about/leftTop.svg'), url('./assets/about/rightTop.svg');
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: auto, top left, top right;
}

#about>h2 {
    margin-top: 9.92%;
    margin-left: 8.47%;
    margin-right: 51.11%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 101.1%;
    letter-spacing: -0.03em;
    color: #007640;
}

#about>p {
    margin-top: 2.152%;
    margin-left: 8.47%;
    margin-right: 44.097%;
    margin-bottom: 10.417%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
}

.fan-info>h3 {
    margin-top: 7.1%;
    margin-left: 16%;
    margin-right: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    letter-spacing: -0.03em;
    color: #121212;
}

.fans-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.groupleft {
    background-image: url('./assets/fans/groupleft.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55.83% 72.24%;
}

.lower {
    margin-top: 4.83%;
    margin-left: 16%;
    margin-right: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #121212;
    opacity: 0.6;
}

.free {
    margin-top: 20.24%;
    margin-left: 16%;
}