* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#hero,
.mates {
  background-color: #029f58;
}

.mates {
  margin-top: 2.3%;
  height: 100%;
  background-image: url(./assets/hero/mate_straightup.svg), url(./assets/hero/mate_slide_left.svg), url(./assets/hero/mate_slide_right.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom center, bottom left, bottom right;
  background-size: contain, 87% 80%, contain;
  background-origin: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 7.708%;
  margin-right: 8.333%;
}

#logo {
  margin-top: 3.1972%;
}

nav {
  display: flex;
  margin-top: 4.2361%;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 116.6%;
  color: #fff;
  gap: 2.5rem;
}

h1 {
  margin-left: 8.333%;
  margin-right: 8.333%;
  margin-top: 9.444%;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 99%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #fff;
}

h2 {
  margin-left: 29.583%;
  margin-right: 29.583%;
  margin-top: 2.778%;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  text-align: left;
  color: #fff;
  opacity: 0.9;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5.72%;
  gap: 1.3rem;
}

.download {
  background-color: #029f58;
  border: none;
}

.download > img {
  width: 90%;
}
